@media only screen and (min-width: 32.5em) {
    header h1 {
        font-size: 2.5rem;
    }

    body h2 {
        font-size: 1.5rem;
    }

    img {
        float: right;
        z-index: 1;
        margin-top: 20px;
        margin-right: 15px;
        border: blanchedalmond 1px solid;
    }
}