header, footer, body {
    width: auto;
    min-width: 250px;
    margin: 0 auto;
    margin-top: 20px;
    padding-bottom: 10px;
    border-radius: 4%;
}

body {
    padding-top: 2px;
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    height: 100%;
}

h1 {
    font-size: 1.25rem;
    font-family: 'Source Sans Pro', sans-serif;
    margin: .15rem;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

header, body, footer{
    margin: 0 auto;
    padding: .75rem;
    max-width: 45rem;
    
}
 ul li{
    font-family: 'Source Sans Pro', sans-serif;
}
header, footer{
    background-color: black;
    color: white;
    text-align: center;
}

img {
    width: 175px;
    border-radius: 4%;
    margin:1.4rem 1rem 0rem 1rem;
}
