/* Coolors Exported Palette - https://coolors.co/50b693-fdd068-e8476f-000000-404040-666666-f8f8f8-ffffff */

/* CSS HEX */
--mint: #50b693ff;
--orange-yellow-crayola: #fdd068ff;
--paradise-pink: #e8476fff;
--black: #000000ff;
--onyx: #404040ff;
--dim-gray: #666666ff;
--cultured: #f8f8f8ff;
--white: #ffffffff;

/* CSS HSL */
--mint: hsla(159, 41%, 51%, 1);
--orange-yellow-crayola: hsla(42, 97%, 70%, 1);
--paradise-pink: hsla(345, 78%, 59%, 1);
--black: hsla(0, 0%, 0%, 1);
--onyx: hsla(0, 0%, 25%, 1);
--dim-gray: hsla(0, 0%, 40%, 1);
--cultured: hsla(0, 0%, 97%, 1);
--white: hsla(0, 0%, 100%, 1);

/* SCSS HEX */
$mint: #50b693ff;
$orange-yellow-crayola: #fdd068ff;
$paradise-pink: #e8476fff;
$black: #000000ff;
$onyx: #404040ff;
$dim-gray: #666666ff;
$cultured: #f8f8f8ff;
$white: #ffffffff;

/* SCSS HSL */
$mint: hsla(159, 41%, 51%, 1);
$orange-yellow-crayola: hsla(42, 97%, 70%, 1);
$paradise-pink: hsla(345, 78%, 59%, 1);
$black: hsla(0, 0%, 0%, 1);
$onyx: hsla(0, 0%, 25%, 1);
$dim-gray: hsla(0, 0%, 40%, 1);
$cultured: hsla(0, 0%, 97%, 1);
$white: hsla(0, 0%, 100%, 1);

/* SCSS RGB */
$mint: rgba(80, 182, 147, 1);
$orange-yellow-crayola: rgba(253, 208, 104, 1);
$paradise-pink: rgba(232, 71, 111, 1);
$black: rgba(0, 0, 0, 1);
$onyx: rgba(64, 64, 64, 1);
$dim-gray: rgba(102, 102, 102, 1);
$cultured: rgba(248, 248, 248, 1);
$white: rgba(255, 255, 255, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #50b693ff, #fdd068ff, #e8476fff, #000000ff, #404040ff, #666666ff, #f8f8f8ff, #ffffffff);
$gradient-right: linear-gradient(90deg, #50b693ff, #fdd068ff, #e8476fff, #000000ff, #404040ff, #666666ff, #f8f8f8ff, #ffffffff);
$gradient-bottom: linear-gradient(180deg, #50b693ff, #fdd068ff, #e8476fff, #000000ff, #404040ff, #666666ff, #f8f8f8ff, #ffffffff);
$gradient-left: linear-gradient(270deg, #50b693ff, #fdd068ff, #e8476fff, #000000ff, #404040ff, #666666ff, #f8f8f8ff, #ffffffff);
$gradient-top-right: linear-gradient(45deg, #50b693ff, #fdd068ff, #e8476fff, #000000ff, #404040ff, #666666ff, #f8f8f8ff, #ffffffff);
$gradient-bottom-right: linear-gradient(135deg, #50b693ff, #fdd068ff, #e8476fff, #000000ff, #404040ff, #666666ff, #f8f8f8ff, #ffffffff);
$gradient-top-left: linear-gradient(225deg, #50b693ff, #fdd068ff, #e8476fff, #000000ff, #404040ff, #666666ff, #f8f8f8ff, #ffffffff);
$gradient-bottom-left: linear-gradient(315deg, #50b693ff, #fdd068ff, #e8476fff, #000000ff, #404040ff, #666666ff, #f8f8f8ff, #ffffffff);
$gradient-radial: radial-gradient(#50b693ff, #fdd068ff, #e8476fff, #000000ff, #404040ff, #666666ff, #f8f8f8ff, #ffffffff);