* { -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; box-sizing: border-box;
}

/* body rules here */

main {
	margin: 0.5rem;
	border: 1px solid #444b43;
	padding: 0 1rem;
	background-color: #FFFFFF;
    color: #4c5454;
}

body {
    font-family: 'Inconsolata', monospace;
    font-size: 16px;
    background-color: #ffffff;
}

/* header rules here */

header {
    background-color: #1ea896;
    padding: 1rem 2%;
}

header h1 {
    margin: 0;
    text-align: center;
    color: rgb(241, 241, 241);
    font-family: 'Ephesis', cursive;
}
header h2 {
    margin: 0;
}

/* nav rules here */

nav { background-color: #4c5454;}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
nav a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: .8rem 0; /* 44 min height */
    text-decoration: none;
    font-size: 0mm.95;
}

nav a:hover {background-color: #523f38;}

nav li .active {background-color: #363434}

/* main rules here */

main {
    padding: 1rem 2%;
    display: block;
}
main h2 {
    color: #1ea896;
}
span {font-size: 18px; font-weight: 600;}

main .ep {font-family: 'Ephesis', cursive;}
main .it {font-family: 'Italianno', cursive;}
main .in {font-family: 'Inconsolata', monospace;}
main .eb {font-family: 'EB Garamond', serif;}

main a {
    color: #4c5454 ;
}

main img {
    width: 100%;
}
main img.logo  {width: 100px;}
/* footer rules here */

footer {
    text-align: center;
    padding: 0.1rem 2%;
    background-color: #1ea896;
}

/* css end here */