body {
    background-color: rgb(98, 231, 98);
}
main {
    max-width: 20rem;
    margin: 0 auto;
    align-items: center;
}
h1 {
    font-size: 1.3rem;
    text-align: center;
}

picture{
    display: grid;
    margin: 1rem;
    padding: 0;
    border-radius: 1rem;
    grid-template-columns: 1fr;
    justify-items: center;
    box-shadow: rgba(14, 4, 4, 0.56) 0px 22px 70px 4px;
    
}

img {
    padding: 0;
    margin: 0;
    filter: blur(0em);
    transition: filter 0.5s;
    border-radius: 1rem;
    
}
img[data-src] {
    filter: blur(0.2em);
    border-radius: 1rem;
}