@media only screen and (min-width: 64rem) {

    .navbar {
        padding: 0 20px;
        margin: 0;
        display: flex;
    }

    .open-button {
        display: none;
    }

    .close-button {
        display: none;
    }

    nav#primaryNav {
        display: flex;
        position: relative;
        flex: 1;
        width: 100%;
        text-align: right;
        background-color: transparent;
        border-bottom-left-radius: none;
        justify-content: flex-end;   
    }

    nav ul {
        display: block;
        margin: 0;
        padding: 0;     
    }

    nav li {
        display: inline-block;
    }

    nav li:hover {
        background-color: transparent;
    }
    nav li.active {
        background-color: transparent;
    }
    nav .active {
        color: rgb(253, 253, 0);
    }

    nav a:hover {
        color: rgb(46, 136, 30);
    }

    /*left*/
    .left-events {
        margin-top: 60px;
        text-align: center;
    }

    /*right*/
    .weather-info {
        margin-top: 45px;
        padding: 0;
    }
    .three-days-weather {
        display: flex;
        gap: 10px;
    }
    .three-days-child {
        width: 200px;
    }

    .footer-container {
        display: block;
        margin-top: 45px;
        padding: 20px;
        background-color: rgb(71, 71, 71);
        color: white;
    
    } 
}