/* Coolors Exported Palette - https://coolors.co/50b693-fdd068-e8476f-000000-404040-666666-f8f8f8-ffffff */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
}

p, h1, h2, h3, h4, h5, h6{
    color: rgb(47, 47, 47);
}
h1, h2{
    color: #e8476f;
}
p {
    line-height: 26px;
}

.navbar h2 {
    color: white;
}

.navbar {
    display: flex;
    padding: 20px;
    background-color: #50b693;
    align-items: center;
    justify-content: space-between;
}

nav {
    display: none;
    background-color: #50b693;
    top: 0;
    right: 0;
    width: 200px;
    height: 100%;
    border-bottom-left-radius: 5px;
    position: fixed;
    opacity: .93;
}
nav.open {
    display: block;
}



.open-button {
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    text-align: right;
    color: white;
    background-color: transparent;
}

.close-button{
    display: block;
    border: none;
    padding: 24px;
    float: right;
    border-radius: 5px;
    font-size: 20px;
    text-align: right;
    color: white;
    background-color: transparent;
}

nav ul {
    padding: 0;
    margin-top: 10vh;
}

nav li {
    list-style-type: none;
}

nav li.active {
    background-color: rgb(87, 86, 86);
}

nav li:hover {
    background-color: gray;
}


nav a {
    display: block;
    padding: 20px;
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.container{
    max-width: 1300px;
    margin: auto;
    background-color: #fbf9f9;
}
.hero{
    display: block;
    align-items: center;
    padding: 0 20px;
}

.one {
    display: block;

}
.one img {
    width: 100%;
}
.two img {
    width: 100%;
}
.btn a{
    display: inline-block;
    background-color: #f86c35;
    color: white;
    padding: 8px 30px;
    width: 175px;
    font-size: 24px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
}
.main {
    display: block;
    margin: 0 auto;
    padding: 0;
    max-width: 1300px;
}

.left{
    width: 100%;
    padding: 20px;
    text-align: center;
}
.right{
    width: 100%;
    padding: 20px;
}


/*left div*/
.advert-three-divs {
    display: block;
    gap: 20px;
}
.advert-three-divs {
    padding-top: 20px;
}
.advert-child-div {
    padding: 20px;
    text-align: center;
}
.advert-images {
    margin-top: 20px;
    width: 100%;
}
.left-events {
    margin-top: 100px;
    text-align: center;
}
.left-events p {
    margin-top: 18px;
}
/*right div*/
.description, .weather-info {
    margin-top: 100px;
    text-align: center;
}
.description p{
    line-height: 45px;
    margin-top: 20px;
}
.weather-info {
    padding: 0;
    text-align: center;
    
}
.weather-info-oneday {
    display: flex;
    gap: 2px;
    padding: 0;
    margin: 0;
    margin-top: 20px;
    align-items: center;
    justify-content: space-between;
}
.weather-oneday-info {
    display: block;
    text-align: center;
    padding: 0 20px 0 0;
    margin: auto;
}
.weather-info-oneday h3 {
   margin: 0 0 5px 0;
}


.weather-oneday-img {
    width: 25%;
    padding-left: 0;
    margin: 0 45px 0 0;
}
.three-days-child img {
    width: 35px;
}

.three-days-weather {
    margin-top: 20px;
    display: block;
    gap: 5px;
}

.three-days-child {
    margin-top: 5px;
    padding: 10px;
    text-align: center;
    width: 100%;
    background-color: rgb(255, 246, 246);
}
/*footer-container here*/
.footer-container {
    display: block;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(71, 71, 71);
    color: white;

} 
.map-and-contact{
    display: block;
    gap: 5px;
    align-items: center;
    justify-content: space-around;
}
.map {
    width: 100%;
    padding: 20px;
}
.map iframe {
    width: 100%;
    height: 200px;
}
.contact {
    width: 100%;
    padding: 20px;
}
.contact h3, .contact p {
    text-align: center;
    color: white;
}
.contact-icons {
    margin: auto;
    display: flex;
    width: 100%;
    margin-top: 20px;
    justify-content: space-between;
}
.icons {
    width: 45px;
}
.footer{
    margin:auto;
    max-width: 1300px;
    padding: 20px;
    background-color: #50b693;
}
.footer h3 {
    color: white;
    text-align: center;
}


