/* Coolors Exported Palette - https://coolors.co/50b693-fdd068-e8476f-000000-404040-666666-f8f8f8-ffffff */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
}

p, h1, h2, h3, h4, h5, h6{
    color: rgb(47, 47, 47);
}

.navbar h2 {
    color: white;
}
.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #2e292a;

}
nav {
    flex: 1;
    text-align: right;
}
nav ul {
    display: inline-block;
    list-style-type: none;
}
nav ul li {
    display: inline-block;
    margin-right: 20px;
}
nav a {
    text-decoration: none;
    color: white;
}
nav .active {
    color: rgb(253, 253, 0);
}
nav a:hover {
    color: rgb(46, 136, 30);
}
.container{
    max-width: 1300px;
    margin: auto;
    background-color: rgb(253, 247, 230);
}
.hero{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 20px;
}
.one,.two {
 flex-basis: 50%;
    min-width: 300px;
}
.one {
    display: block;

}
.one img {
    max-width: 50%;
}
.btn a{
    display: inline-block;
    background-color: #f86c35;
    color: white;
    padding: 8px 30px;
    width: 175px;
    font-size: 24px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
}
.main {
    display: flex;
    margin: 0 auto;
    padding: 0;
    max-width: 1300px;
}

.left{
    width: 65%;
    background-color: rgb(255, 255, 255);
    padding: 20px;
}
.right{
    width: 35%;
    background-color: rgb(255, 255, 255);
    padding: 20px;
}
.description, .weather-info {
    margin-top: 20px;
}

/*left div*/
.advert-three-divs {
    display: flex;
    gap: 5px;
}
.advert-three-divs {
    padding-top: 20px;
}
.advert-child-div {
    padding: 20px;
    background-color: gray;
    text-align: center;
}
.left-events {
    margin-top: 20px;
    text-align: center;
}
.left-events p {
    margin-top: 18px;
}
/*right div*/
.three-days-weather {
    margin-top: 20px;
    display: flex;
    gap: 2px;
}

.three-days-child {
    text-align: left;
    width: 100%;
}
/*footer-container here*/
.footer-container {
    display: block;
    margin: 0 auto;
    padding: 20px;
    max-width: 1300px;
    background-color: rgb(56, 56, 56);
    color: white;

} 
.map-and-contact{
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: space-around;
}
.map {
    width: 65%;
    padding: 20px;
}
.map iframe {
    width: 100%;
    height: 200px;
}
.contact {
    width: 35%;
    padding: 20px;
}
.contact h3, .contact p {
    text-align: center;
    color: white;
}
.contact-icons {
    margin: auto;
    display: flex;
    width: 300px;
    margin-top: 20px;
    justify-content: space-between;
}
.icons {
    width: 45px;
}
.footer{
    margin:auto;
    max-width: 1300px;
    padding: 20px;
    background-color: black;
}
.footer h3 {
    color: white;
    text-align: center;
}


