/* 35em is also 560px when basefont is 16px */
@media only screen and (min-width: 35rem) {
    header h1, header h2 {
        padding: 0;
        margin: 0;
        font-weight: bolder;
    }
    .navWrapper {

        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1ea896+0,7db9e8+100 */
        background: #1ea896;
        /* Old browsers */
        background: -moz-linear-gradient(top, #1ea896 0%, #7db9e8 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #1ea896 0%, #7db9e8 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #1ea896 0%, #7db9e8 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1ea896', endColorstr='#7db9e8', GradientType=0);
        /* IE6-9 */

    }


    nav button {
        display: none;
    }

    /*hide the button in the medium view*/

    nav ul.hide {
        display: block;
    }

    nav ul {
        margin-left: 2%;
    }

    nav ul li {
        float: left;
        /* float angers to the left */
    }

    nav ul li a {
        border: none;
        /*take out the line on top of each link*/
        border-right: 1px solid rgba(0, 0, 0.3);
        padding: .6rem 1rem;
    }

    /**/



}

/*end medium */