/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/*----------- apply a natural box layout model to all elements --------------*/
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    background: rgb(168,255,234);
    background: linear-gradient(307deg, rgba(168,255,234,1) 0%, rgb(255, 255, 255) 50%, rgb(230, 230, 230) 100%);
}
.headerWrapper {
    /*background-color: #ff715b;*/
    background: rgb(131,58,180);
background: linear-gradient(307deg, rgba(131,58,180,1) 0%, rgba(255,113,91,1) 50%, rgba(252,176,69,1) 100%);
}
header {
    padding: 5px 0;
    display: flex;
    align-items: center;
}

header img {
    width: 80px;
    height: auto;
}

.headings {
    display: flex;
    flex-direction: column;
}

.headings h1 {
    font-size: 1.6rem;
    margin: 0 0 0 17px;
    color: #000000;
    font-family: 'Inconsolata', monospace;
    text-shadow: 1px 1px 2px rgba(0,0,0, .6);
}

.m {
    font-family: 'Inconsolata', monospace;
    letter-spacing: .1rem;
    color: #000000;
    margin-left: 20px;
    margin-top: 0;
    padding: 0;
    font-size: 1rem;
}


/*------------------------nav-------------------------------*/


.navWrapper { 
    background: rgb(34,193,195);
    background: linear-gradient(103deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%); 
    border: #4C5454 solid 2px;   
}
nav button {
    margin: .2rem 1%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;  /* apple recomment 44px = 1.6rem */
    color: #fff;
}

nav {
    font-family: sans-serif;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block; /*make the button clikable, make the anger<a> wider*/
    padding: .8rem 2%; /*make the button clikable bigger so they can touch by the finger */
    text-decoration: none; /*remove the underline*/
    color: #000; /*remove the blue color*/
    border-top: 1px solid rgba(255, 255, 255, 0.8); /*add border to the top with 3% of color black #000*/

}

nav ul li.active a {
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
} /*use way finding by controling the active class*/

nav ul li a:hover {
    -webkit-transition: all 1000ms ease;
    -moz-transition: all 1000ms ease;
    -ms-transition: all 1000ms ease;
    -o-transition: all 1000ms ease;
    transition: all 1000ms ease;
    background-color: rgba(0, 0, 0, 0.4);
}

nav ul.hide {
    display: none;
}



/*------------------------main-------------------------------*/




main {
    display: block;
}

div#message {
    background-color: yellow; 
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    padding: .6rem 2%; 
    border-radius: 10px; 
    font-size: 1.4rem; 
    font-family: 'Inconsolata', monospace;
    
}
div.showme{display: block;}
div.hideme{display: none;}

main figure {
    margin: 0 auto;
    display:block;
    padding: .2rem;
}

.hero>img {
    padding: 0;
    margin: 0;
    width: 100%;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

section.summary {
    margin: .2rem;
    padding: .8rem 0 1rem .5rem;
    background: rgb(131,58,180);
    background: linear-gradient(307deg, rgba(131,58,180,1) 0%, rgba(255,113,91,1) 50%, rgba(252,176,69,1) 100%);
    
    box-shadow: rgb(38, 57, 77) 0px 15px 30px -10px;
}
section.summary hr {
    padding: 0;
    margin: 0 0 .6rem 0;
}
.summary h1 {
    font-size: 1.4rem;
    color: #000000;
}
.summary>p {
    font-size: 1.2rem;
    letter-spacing: .1rem;
    font-weight: 550;
}
.summary h1, .summary>p  {
    font-family: 'Inconsolata', monospace;
    margin: 0;
    padding: .2rem 0;
    width: 100%;
}


main h1 {
    margin: 1.4rem 0 0 0;
    padding: 0 2%;
    font-size: 2rem;
    font-family: 'Inconsolata', monospace;
    color: #523f38;
    text-shadow: 1px 1px 2px rgba(0,0,0, .6);
}


main>div {
    display: block;
    background-color: whitesmoke;
}

main>div>p {
    color:#4C5454;
    padding: .6rem 2%;
}
/*------------------------ weather forcast-------------------------------*/
.forecast-h2 {
    display: none;
}
section.forecast {
    display: none;
}


/* -----------------------article------------------------------*/

section.article {
    padding: 0 2%;
    display: block;
}
section.article h2 {
    margin: 1rem 0 0 0;
    padding: 0;
    color: #523f38;
    font-size: 2rem;
    font-family: 'Inconsolata', monospace;
    text-shadow: 1px 1px 2px rgba(0,0,0, .6);
}
section.article>p {
    font-family: 'Inconsolata', monospace;
    font-size: 1.4rem;
    color: #4c5454;
}

section.article picture {
    margin: 0;
    padding: 0 0 1.2rem 0;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    
}

section.article img {
    width: 100%;
}

section.article figcaption {
    text-align: center;
    font-size: .8rem;
}

/* gallery */

/* gallery */


.gallery {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.2rem;
    margin: 0 0 1.2rem 0;
    padding-top: 0;
}

div.gallery figure {
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
    padding: 0 0 .3rem 0;
    background: rgb(244,130,7);
    background: linear-gradient(90deg, rgba(244,130,7,1) 0%, rgba(255,255,255,1) 49%, rgba(136,215,82,1) 100%);
    font-size: .8rem;
    text-align: center;
    font-weight: bolder;
    letter-spacing: 1.2px;
}


div.gallery figure img{
    width: 100%;
}

/* ------------------ form -------------------------- */

form {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    padding: 1rem;
    border-radius: 15px;
}
form fieldset {
    margin: 2rem 0;
    border: 2px solid #e934f0;
    background-color: transparent;
    border-radius: 10px;
    padding: .5rem 2%;
}
form legend {
    color: rgb(87, 82, 82);
    margin: 0 1rem;
    padding: 0 .5rem;
}
form label.top, form div {
    display: block;
    padding-top: 1rem;
    color: rgb(54, 50, 50);
    font-size: .8rem;
}
form label.top input, form label.top select, form textarea {
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 20rem;
    background-color: rgb(207, 253, 181);
}

form label.sbs {
    display: block;
    padding: .75rem 0;
    color: #555;
}
form label.rating {
    display: block;
    padding-top: 1rem;
    color: #555;
    font-size: .8rem;
}

form label.rating span {
    justify-content: center;
}
form input.submitBtn {
    border: none;
    background: rgb(2,238,40);
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}
form input.submitBtn:hover {
    background: rgb(1, 143, 25);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}
form label.top input:required {
    border-left: red solid 6px;
}
form label.top input:required:valid {
    border-left: green solid 6px;
}
/* ------------------ contact info ------------------ */

.contact-section {
    margin: 0 2%;
    padding: 0 0 2% 0;
} 
.contact-section h2 {
    margin: 1rem 0 0 0;
    padding: 0;
    color: #523f38;
    font-size: 2rem;
    font-family: 'Inconsolata', monospace;
    text-shadow: 1px 1px 2px rgba(0,0,0, .6);
}
.contact-section hr {
    margin: 0 0 .6rem 0;
    padding: 0;
}
.contact-section h3 {
    margin: 0;
    padding: 0;
    color: #523f38;
    font-family: 'Inconsolata', monospace;
    text-shadow: 1px 1px 2px rgba(0,0,0, .6);
}
.contact-section h3, .contact-section p {
    margin: 0;
    line-height: 2rem;
}   
div.contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
div.contact section:nth-child(3) {
    grid-column: span 2;
    border: #000 1px solid;
    padding: 0;
}

div.contact section iframe {
    width: 100%;
}
iframe {
    display: block; /**/    
    border:0;
}
/*------------------------footer-------------------------------*/


.footerWrapper {
    background: rgb(131,58,180);
    background: linear-gradient(307deg, rgba(131,58,180,1) 0%, rgba(255,113,91,1) 50%, rgba(252,176,69,1) 100%);
    padding: 1rem;
}
footer {
    padding: 2%;
    text-align: center;
    color: #000000;
    font-size: 1.2rem;
    font-family: 'Inconsolata', monospace;
    font-weight: bold;
    letter-spacing: .2rem;

}



/*----- Clearfix: Force an Element not to collapse -----*/


.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
