@media only screen and (min-width: 34rem) {


    h1 {
        font-size: 35px;
        font-weight: 700;
    }

    h2 {
        font-size: 30px;
        font-weight: 600;
    }

    h3 {
        font-size: 24px;
        font-weight: 500;
    }

    h4 {
        font-size: 20px;
        font-weight: 500;
    }

    p {
        font-weight: 400;
    }

    /* Coolors Exported Palette - https://coolors.co/50b693-fdd068-e8476f-000000-404040-666666-f8f8f8-ffffff */
    nav {
        width: 300px;
        height: 100%;
    }

    .navbar h2 {
        color: white;
    }

    nav a {
        margin-left: 20px;
    }

    .container {
        max-width: 1300px;
        margin: auto;
    }

    .hero {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 40px 20px;
    }

    .one,
    .two {
        flex-basis: 50%;
        min-width: 300px;
    }

    .one {
        display: block;

    }

    .one img {
        margin: auto;
        max-width: 75%;
    }

    .one h3, .one p {
        margin-top: 20px;
        text-align: left;
    }

    .gobutton {
        text-align: left;
    
    }
    

    .main {
        display: flex;
        margin: 0 auto;
        padding: 0;
        max-width: 1300px;
    }

    .left {
        width: 65%;
        margin-top: 45px;
        background-color: rgb(255, 255, 255);
        padding: 20px;
    }

    .right {
        width: 35%;
        background-color: rgb(255, 255, 255);
        padding: 20px;
    }


    /*left div*/
    .left-advert {
        margin-top: 0;
    }

    .advert-three-divs {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    .advert-three-divs {
        padding-top: 20px;
    }

    .advert-child-div {
        padding: 20px;
        background-color: rgb(246, 243, 243);
        text-align: center;
    }

    .left-events {
        margin-top: 200px;
        text-align: left;
    }

    .left-events p {
        margin-top: 18px;
    }


    /*========community images==========*/
    .community-div-container {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
    }
    /*right div*/
    .description,
    .weather-info {
        margin-top: 20px;
    }

    .weather-info {
        padding: 20px;
    }
    .weather-info-oneday {
        grid-template-columns: 1fr;
    }
    /*==========================main-directory===================*/
    .main-directory {
        position: relative;
        margin: 0 auto;
        padding: 20px;
    }

    #mylist li {
        margin-left: 20px;
        text-align: left;
        list-style-type: upper-roman;
        border: none;
        max-width: 250px;

    }

    #mylist.flex {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 0;
        width: 100%;
        list-style-type: none;
        gap: 10px;
    }

    #mylist.flex li {
        margin: 0;
        width: 100%;
        list-style-type: none;
        text-align: center;
        border: 1px solid gray;
    }

    .flex.h3 {
        padding: 0;
    }

    .flex.directory-p {
        padding: 0;
        line-height: 30px;
    }


    .h3 {
        padding-left: 15px;
    }

    .directory-p {
        padding-left: 20px;
        line-height: 30px;
    }

    #button button:nth-child(1) {
        pointer-events: none;
    }

    #button button:nth-child(2) {
        pointer-events: auto;
    }

    #button button:nth-child(1).change {
        pointer-events: auto;
    }

    #button button:nth-child(2).change {
        pointer-events: none;
    }

    #button button {
        display: block;
        margin: 0;
        padding: 5px;
        background-color: #50b693;
        box-shadow: 0 -23px 25px 0 rgba(116, 27, 27, 0) inset, 0 -36px 30px 0 rgba(246, 243, 243, 0.15) inset, 0 -79px 40px 0 rgb(0, 0, 0, 0.1) inset, 0 2px 1px rgba(179, 15, 15, 0.06), 0 4px 2px rgb(0, 0, 0, 0.09), 0 8px 4px rgb(0, 0, 0, 0.09), 0 16px 8px rgb(0, 0, 0, 0.09), 0 32px 16px rgb(0, 0, 0, 0.09);

    }

    #button {
        display: flex;
        margin: 0;
        padding: 20px 0;
        gap: 10px;
    }

    #list,
    #grid {
        width: 50px;
        border-radius: 10px;
        border: none;
        padding: 8px 12px;

    }

    #button img {
        display: block;
        width: 100%;
    }

    /*==========plan=form===========*/

    form fieldset {
        padding: 0.5rem 10% 4rem;
    }

    form label.top input,
    form label.top select,
    form textarea {
        display: block;
        font-size: 1rem;
        border: #999 solid 1px;
        border-radius: 4px;
        padding: 0.6rem;
        color: #555;
        width: 100%;
        max-width: 20rem;
        background-color: #f8f8f8;
    }



/*form*/
.all-join {
    display: flex;

}

.main-join {
    width: 45%;
}

.plan-container {
    grid-template-columns: 1fr;
    column-gap: 10px;
    margin: 0 auto;
    padding: 20px;
    width: 55%;

}

.plan-outer {
    margin: 20px 0;
    padding: 5px;
    border: gray 1px solid;
    background-color: black;
    border-radius: 0 30px;
}

.plan {
    height: auto;
    padding: 20px;
    background-color: white;
    border-radius: 0 30px;
}

.plan-outer h3 {
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    color: white;
}

.plan p {
    text-align: left;
}

/*====================contact page form====================*/
.board-hero {
    display: flex;
    align-items:flex-start;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 40px 20px;
}
.outer-hero {
    margin-bottom: 40px;
}
.contact-one {
    flex-basis: 50%;
    min-width: 300px;
}

.contact-two {
    margin-top: 5px;
    flex-basis: 30%;
    min-width: 300px;
}

.contact-form {
    margin: 20px 0;
}

.contact-fieldset {
    width: 300px;
    margin: 0;
    padding-bottom: 0;
}

.form button {
    margin: 0;
    padding: 0;
}

/*==========================footer-container here==========================*/
.footer-container {
    display: block;
    margin: 0 auto;
    padding: 20px;
    max-width: 1300px;
}

.map-and-contact {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: space-around;
}

.map {
    width: 65%;
    padding: 20px;
}

.map iframe {
    width: 100%;
    height: 200px;
}

.contact {
    width: 35%;
    padding: 20px;
}

.icons {
    width: 20px;
}

.footer {
    margin: auto;
    max-width: 1300px;
    padding: 20px;
}




}