@media only screen and (min-width: 35rem) {




    /* Coolors Exported Palette - https://coolors.co/50b693-fdd068-e8476f-000000-404040-666666-f8f8f8-ffffff */
    nav {
        width: 300px;
        height: 100%;
    }
    nav a {
        margin-left: 35px;
    }
    .container {
        max-width: 1300px;
        margin: auto;
    }

    .hero {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 0 20px;
    }

    .one,
    .two {
        flex-basis: 50%;
        min-width: 300px;
    }

    .one {
        display: block;

    }

    .one img {
        max-width: 50%;
    }

    .btn a {
        display: inline-block;
        background-color: #f86c35;
        color: white;
        padding: 8px 30px;
        width: 175px;
        font-size: 24px;
        border-radius: 5px;
        text-align: center;
        text-decoration: none;
    }

    .main {
        display: flex;
        margin: 0 auto;
        padding: 0;
        max-width: 1300px;
    }

    .left {
        width: 65%;
        margin-top: 45px;
        background-color: rgb(255, 255, 255);
        padding: 20px;
    }

    .right {
        width: 35%;
        background-color: rgb(255, 255, 255);
        padding: 20px;
    }


    /*left div*/
    .left-advert {
        margin-top: 20px;
    }
    .advert-three-divs {
        display: flex;
        gap: 5px;
    }

    .advert-three-divs {
        padding-top: 20px;
    }

    .advert-child-div {
        padding: 20px;
        background-color: rgb(246, 243, 243);
        text-align: center;
    }

    .left-events {
        margin-top: 200px;
        text-align: center;
    }

    .left-events p {
        margin-top: 18px;
    }

    /*right div*/
    .description,
    .weather-info {
        margin-top: 20px;
    }

    .weather-info {
        padding: 20px;
    }

/*==========================main-directory===================*/
.main-directory {
    position: relative;
    margin: 0 auto;
    padding: 20px;
}
#mylist li {
    margin-left: 20px;
    text-align: left;
    list-style-type: upper-roman;
    border: none;
    max-width: 250px;
    
}
    #mylist.flex {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 0;
        width: 100%;
        list-style-type: none;
        gap: 10px;
    }
    #mylist.flex li {
        margin: 0;
        width: 100%;
        list-style-type: none;
        text-align: center;
        border: 1px solid gray;
    }
    
    
    .card-list p {
        padding-top: 0;
    }
    
    
    #button button:nth-child(1) {
        pointer-events: none;
    }
    
    #button button:nth-child(2) {
        pointer-events: auto;
    }
    
    #button button:nth-child(1).change {
        pointer-events: auto;
    }
    
    #button button:nth-child(2).change {
        pointer-events: none;
    }
    #button button {
        display: block;
        margin: 0;
        padding: 5px;
        background-color: #50b693;
        box-shadow : 0 -23px 25px 0 rgba(116, 27, 27, 0) inset, 0 -36px 30px 0 rgba(246, 243, 243, 0.15) inset, 0 -79px 40px 0 rgb(0, 0, 0, 0.1) inset, 0 2px 1px rgba(179, 15, 15, 0.06), 0 4px 2px rgb(0, 0, 0, 0.09), 0 8px 4px rgb(0, 0, 0, 0.09), 0 16px 8px rgb(0, 0, 0, 0.09), 0 32px 16px rgb(0, 0, 0, 0.09);
    
    }
    #button {
        display: flex;
        margin: 0;
        padding: 20px 0;
        gap: 10px;
    }
    
    #list,
    #grid {
        width: 50px;
        border-radius: 10px;
        border:none;
        padding: 8px 12px;
        
    }
    
    #button img {
        display: block;
        width: 100%;
    }
    

    /*==========================footer-container here==========================*/
    .footer-container {
        display: block;
        margin: 0 auto;
        padding: 20px;
        max-width: 1300px;
    }

    .map-and-contact {
        display: flex;
        gap: 5px;
        align-items: center;
        justify-content: space-around;
    }

    .map {
        width: 65%;
        padding: 20px;
    }

    .map iframe {
        width: 100%;
        height: 200px;
    }

    .contact {
        width: 35%;
        padding: 20px;
    }

    .icons {
        width: 20px;
    }

    .footer {
        margin: auto;
        max-width: 1300px;
        padding: 20px;
    }




}