/* Coolors Exported Palette - https://coolors.co/50b693-fdd068-e8476f-000000-404040-666666-f8f8f8-ffffff */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
}

p, h1, h2, h3, h4, h5, h6{
    color: rgb(47, 47, 47);
}
h1, h2{
    color: #e8476f;
}
p {
    line-height: 26px;
}
h2 {
    font-size: 20px;
}
.navbar h2 {
    color: white;
}

.navbar {
    display: flex;
    padding: 20px;
    background-color: #000000;
    align-items: center;
    justify-content: space-between;
}

nav {
    display: none;
    background-color: #000000;
    top: 0;
    right: 0;
    width: 200px;
    height: 100%;
    border-bottom-left-radius: 5px;
    position: fixed;
    z-index: 1;
    opacity: .93;
}
nav.open {
    display: block;
}



.open-button {
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    text-align: right;
    color: white;
    background-color: transparent;
}

.close-button{
    display: block;
    border: none;
    padding: 24px;
    float: right;
    border-radius: 5px;
    font-size: 20px;
    text-align: right;
    color: white;
    background-color: transparent;
}

nav ul {
    padding: 0;
    margin-top: 10vh;
}

nav li {
    list-style-type: none;
}

nav li.active {
    background-color: rgb(87, 86, 86);
}

nav li:hover {
    background-color: gray;
}


nav a {
    display: block;
    padding: 20px;
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.container{
    max-width: 1300px;
    margin: auto;
    background-color: #fbf9f9;
}
.hero{
    display: block;
    align-items: center;
    padding: 0 20px;
    background-color: #f8f8f8;
}

.one {
    display: block;
}
.one h3, .one p {
    margin-top: 20px;
    text-align: center;
}
.one img {
    width: 100%;
    margin-bottom: 0;
    padding-bottom: 0;
}
.two img {
    width: 100%;
}
.gobutton {
    margin: auto;
    margin-top: 20px;
    display: block;
    width: 100%;
    text-align: center;

}
.btn{
    padding: 10px;
    background-color: #f86c35;
    border-radius: 10px;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    min-width: 260px;
    color: white;
}
.btn:hover {
    background-color: #000000;
}


.main {
    display: block;
    margin: 0 auto;
    padding: 0;
    max-width: 1300px;
}

.left{
    width: 100%;
    padding: 20px;
    text-align: center;
}
.right{
    width: 100%;
    padding: 20px;
}


/*left div*/
.left-advert {
    margin-top: 45px;
}
.advert-three-divs {
    display: block;
    gap: 5px;
    
}

.advert-child-div {
    margin: 10px 0;
    padding: 20px;
    text-align: center;
    background-color: #f8f8f8;
    border: #666666 solid 1px;
}
.advert-images {
    margin-top: 20px;
    width: 100%;
}
.left-events {
    margin: 80px 20px;
    text-align: center;

}
.left-events h4 {
    padding-top: 25px;
}
.left-events p {
    margin-top: 1px;
}

    /*========community images==========*/
    /*community images*/
.community-images {
    margin: auto;
    text-align: center;
    max-width: 1300px;
}
    .community-div-container {
        padding: 0;
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;

    }
    .community-img-div {
        margin: 10px 0;
        padding: 0;
        background-color: #f8f8f8;
        border: #666666 solid 1px;
    }
    .community-img-div img {
        display: block;
        width: 100%;
    }

    .community-img-div h3 {
        margin: 10px 0 0 0;
        padding: 0;
    }
    .community-img-div p {
        margin: 0;
        padding: 10px;
    }



/*right div*/
.description, .weather-info {
    margin-top: 100px;
    text-align: center;
}
.description p{
    line-height: 30px;
    padding-bottom: 10px;
}
.description h4{
    padding-top: 20px;
}
.weather-info {
    padding: 0;
    text-align: center;
    
}
.weather-info-oneday {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
    padding: 10px;
    margin: 0;
    margin-top: 20px;
    background-color: #f8f8f8;
    border: #666666 solid 1px;
}

.three-days-child:nth-child(4), .three-days-child:nth-child(5)
{
    display: none;
}
.weather-oneday-info {
    display: block;
    text-align: left;
    padding: 0 20px 0 0;
    margin: auto;
}
.weather-info-oneday h3 {
   margin: 0 0 5px 0;
}


.weather-oneday-img {
    width: 100%;
    padding: 10px;
    margin: 10px;
    background-color: darkgray;
    margin: 0 45px 0 0;
}
.three-days-child img {
    width: 35px;
}

.three-days-weather {
    margin-top: 20px;
    display: block;
    gap: 5px;
}

.three-days-child {
    margin-top: 5px;
    padding: 10px;
    text-align: center;
    width: 100%;
    background-color: #f8f8f8;
    border: #666666 solid 1px;
}


/*footer-container here*/
.footer-container {
    display: block;
    margin-top: 45px;
    padding: 20px;
    background-color: rgb(71, 71, 71);
    color: white;

} 
.map-and-contact{
    display: block;
    gap: 5px;
    align-items: center;
    justify-content: space-around;
}
.map {
    width: 100%;
    padding: 20px;
}
.map iframe {
    width: 100%;
    height: 200px;
}
.contact {
    width: 100%;
    padding: 20px;
}
.contact h3, .contact p {
    text-align: center;
    color: #FFFFFF;
}
.contact-icons {
    margin: auto;
    display: flex;
    width: 100%;
    margin-top: 20px;
    justify-content: space-between;
}
.icons {
    width: 45px;
}
/*==============================directory============================*/
.main-directory {
    position: relative;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #404040;
}

#mylist li {
    margin: auto;
    margin-top: 20px;
    border: none;
    padding: 0 0 10px 0;
    border: gray solid 1px;
    list-style-type: none;
    width: 100%;
    text-align: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.h3 {
    background-color: #50b693;
    padding: 5px;
    margin-bottom: 5px;
}
.directory-p {
    line-height: 30px;
}
.card-list {
    margin-top: 0;
    padding-top: 0;
    width: 100%;
    background-color: white;
}


#list,
#grid {
    display: none;
}

#button img {
    display: block;
    width: 100%;
}


/*==============================join=================================*/
.main-join {
    padding: 20px;
}
.all-join {
    margin-top: 45px;
}
form {
    padding : 10px 0;
    border-radius : 15px;
    }
    form fieldset {
    margin : 0 0 20px 0;
    background-color : transparent;
    border-radius : 10px;
    padding : 0.5rem 8%;
    border: 3px black solid;
    }
    form legend {
    color :#404040;
    margin : 0 1rem;
    padding : 0 0.5rem;
    }
    form label.top, form div {
    display : block;
    padding-top : 1rem;
    color : #404040;

    }
    form label.top input, form label.top select, form textarea {
    display : block;
    font-size : 1rem;
    border : #999 solid 1px;
    border-radius : 4px;
    padding : 0.75rem;
    color : #555;
    width : 100%;
    max-width : 20rem;
    background-color : #f8f8f8;
    }
    form label.sbs {
    display : block;
    padding : 0.75rem 0;
    color : #555;
    }
    form label.rating {
    display : block;
    padding-top : 1rem;
    color : #555;
    font-size : 0.8rem;
    }
    form label.rating span {
    justify-content : center;
    }
    input#rating {
        width : 100%;
        max-width : 19rem;
    }
    form input.submitBtn {
    border : none;
    background-color: #f86c35;
    font-size: 24px;
    font-weight: 600;
    color : #ffffff;
    text-shadow: 3px 3px 3px rgb(7, 7, 7);
    border-radius : 1rem;
    border: 2px solid rgb(51, 47, 47);
    padding : 0.75rem 1.5rem;
    margin : 4rem 0 3rem 2%;
    width : 96%;
    max-width : 20rem;
    }
    input.submitBtn:hover {
        background-color: #000000;

    }
    form label.top input:required {
    border-left : 6px solid red;
    }
    form label.top input:required:valid {
    border-left : 6px solid #50b693;
    }
/*plan*/
    .plan-container {
        margin:0 auto;
        padding: 20px;
        display: block;
    }
    .plan-outer {
        margin: 20px 0;
        padding: 5px;
        border: gray 1px solid;
        background-color:black;
        border-radius: 0 30px;
    }

    .plan {
        padding: 20px;
        background-color: white;
        border-radius: 0 30px;
        height: 250px;
    }
    .plan-outer h3 {
        padding: 5px;
        border-radius: 5px;
        text-align: center;
        color: white;
    }
    .plan p {
        text-align: left;
    }

/*==========city==============*/

.city {
    background-color: #cccccc;
    background-image: url("images/citybanner.jpg");
    height: 100%;
    background-size: cover;
  }



/*thank you page*/
.main-thanks {
    padding: 20px;
}
.main-thanks p, .main-thanks h2 {
    padding-bottom: 10px;
}
.main-thanks button {
    max-width: 350px;
    width: 98%;
    padding: 12px;
    border-radius: 10px;
    background-color: #f86c35;
    font-size: 18px;
    font-weight: 700;
    color: white;
}
.main-thanks button:hover {
    background-color: #000000;
}
/*===============================board================================*/
.board-hero{
    display: block;
    align-items: center;
    padding: 0 20px;
    background-color: #f8f8f8;
}
.board h4 {
    margin-top: 20px;
}
.contact-btn{
    margin-top: 20px;
    padding: 10px;
    background-color: #e8476f;
    border-radius: 10px;
    text-align: center;
    max-width: 300px;
}
.contact-btn a {
    text-decoration: none;
    text-shadow: 3px 3px 3px rgb(7, 7, 7);
    font-size: 24px;
    font-weight: 700;
    color: white;
}
.contact-two {
    margin-top: 40px;
    flex-basis: 30%;
    min-width: 300px;
}
/*board members*/
.board-chart {
    margin-top: 40px;
}
.board-li-item {
    margin-top: 20px;
    list-style-type: none;
}

/*==============================footer===============================*/

.footer{
    margin:auto;
    max-width: 1300px;
    padding: 20px;
    background-color: #50b693;
}
.footer h3 {
    color: #000000;
    text-align: center;
}


