/* 64em is also 1028px when basefont is 16px */
@media only screen and (min-width: 64rem) {

header, nav, main, footer {
    margin: 0 auto;
    max-width: 70rem;
    padding: 0 0;
}

/* ---------- nav ---------- */
nav {
    max-width: 75rem;
    margin: 0 auto;
}
nav ul li a {
    padding: .4rem 1rem;
}
/* ----------- main --------- */
main h1 {
    padding: 0px;
    margin: 0;
    font-size: 2rem;
    color: #ff715b;
    font-size: 3rem;
    font-family: 'Inconsolata', monospace;
    text-shadow: 2px 2px 4px green;
}

/*------------ forecast ---------- */
.forecast {
    margin: 0;
}
.forecast-h2 {
    display: block;
    padding: 0px;
    margin: 1.6% 0 0 0;
    font-size: 2rem;
    color: #ff715b;
    font-family: 'Inconsolata', monospace;
    text-shadow: 1px 1px 2px rgba(0,0,0, .6);
}


/* --------------- forecast ---------- */
section.forecast {
    padding: 0;
    width: 67rem;
}

/* -------------- article ----------- */
section.article {
    padding: 0;
    display: block;
}
section.article figure{
    width: 30%;
}
section.article>p {
    font-size: 1.4rem;
    line-height: 1.4rem;
    font-weight: lighter;
}

/* -------------- contact ----------- */
div.contact {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
div.contact section:nth-child(3) {
    grid-column: span 1;
}
.contact-section h2 {
    margin: 0;
    margin: 1% 0 0 0;
    font-size: 2rem;
    color: #ff715b;
}
.contact-section {
    margin: 0;
} 
.contact section {
    padding:0 0 0  4%;
}

}/*end large */