/* 64em is also 1028px when basefont is 16px */
@media only screen and (min-width: 64rem) {



    header,
    nav,
    main{
        margin: 0 auto;
        max-width: 70rem;
        padding: 0 0;
    }


    /* ---------- nav ---------- */
    nav {
        max-width: 78rem;
        margin: 0 auto;
    }

    nav ul li a {
        padding: .4rem 1rem;
    }

    .home {
        margin-left: 1.2rem;
    }



    /* ----------- main --------- */
    main h1 {
        margin: 2rem 0 .6rem 0;
        font-size: 2rem;
        background-color: transparent;
    }

    /*------------ forecast ---------- */
    .forecast {
        margin: 0;
    }

    .forecast-h2 {
        margin: 1.6% 0 0 0;
    }


    /* --------------- forecast ---------- */
    section.forecast-section {
        padding: 0;
        width: 80%;
    }

    /* -------------- article ----------- */
    section.article {
        padding: 0;
        display: block;
    }

    section.article figure {
        width: 30%;
    }

    .gallery {
        grid-template-columns: 1fr 1fr 1fr;
        padding: 0;
        background-color: transparent;
    }

    div.gallery figure {
        font-size: .8rem;
        text-align: center;
    }

    div.gallery figure:hover {
        -webkit-transition: all 300ms ease;
        -moz-transition: all 300ms ease;
        -ms-transition: all 300ms ease;
        -o-transition: all 300ms ease;
        transition: all 300ms ease;
        box-shadow: rgb(19, 18, 18) 0px 0px 10px 5px;
    }


    /* -------------- form -------------- */
    form label.sbs {
        padding: .4rem 0;
    }

    /* -------------- contact ----------- */
    div.contact {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    div.contact div:nth-child(3) {
        grid-column: span 1;
    }

    .contact-section h2 {
        margin: 0;
        margin: 1% 0 0 0;
    }

    .contact-section {
        margin: 0;
    }

    .contact section {
        padding: 0 0 0 4%;
    }




    .highlights {
        width: 75%;

    }
    /*three town*/

    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 'left center right';
        padding: 1rem;
        background-color: rgb(126, 125, 128);
    }

    .section-town {
        display: block;
        padding: 0;
    }

    .section-town:last-child {
        grid-area: left;
    }

    /*three town ends here*/
    .footerWrapper {
    background : rgb(131, 58, 180);
    background : linear-gradient(307deg, rgb(131, 58, 180, 1) 0%, rgb(255, 113, 91, 1) 50%, rgb(252, 176, 69, 1) 100%);
    padding : 1rem;
    }
    footer {
        margin: 0 auto;
        max-width: 100%;
        padding: 0 0;
    }

}

/*end large */