@font-face {
    font-family : 'EB Garamond';
    font-style : italic;
    font-weight : 700;
    font-display : swap;
    src : url(https://fonts.gstatic.com/s/ebgaramond/v15/SlGFmQSNjdsmc35JDF1K5GRwUjcdlttVFm-rI7dbR496.ttf) format('truetype');
    }
    @font-face {
    font-family : 'EB Garamond';
    font-style : normal;
    font-weight : 400;
    font-display : swap;
    src : url(https://fonts.gstatic.com/s/ebgaramond/v15/SlGDmQSNjdsmc35JDF1K5E55YMjF_7DPuGi-6_RUAw.ttf) format('truetype');
    }
    @font-face {
    font-family : 'Ephesis';
    font-style : normal;
    font-weight : 400;
    font-display : swap;
    src : url(https://fonts.gstatic.com/s/ephesis/v1/uU9PCBUS8IerL2VG7xM.ttf) format('truetype');
    }
    @font-face {
    font-family : 'Inconsolata';
    font-style : normal;
    font-weight : 400;
    font-stretch : normal;
    font-display : swap;
    src : url(https://fonts.gstatic.com/s/inconsolata/v21/QldgNThLqRwH-OJ1UHjlKENVzkWGVkL3GZQmAwLYxYWI2qfdm7Lpp4U8aRo.ttf) format('truetype');
    }
    @font-face {
    font-family : 'Inconsolata';
    font-style : normal;
    font-weight : 900;
    font-stretch : normal;
    font-display : swap;
    src : url(https://fonts.gstatic.com/s/inconsolata/v21/QldgNThLqRwH-OJ1UHjlKENVzkWGVkL3GZQmAwLYxYWI2qfdm7Lppyw7aRo.ttf) format('truetype');
    }
    @font-face {
    font-family : 'Italianno';
    font-style : normal;
    font-weight : 400;
    font-display : swap;
    src : url(https://fonts.gstatic.com/s/italianno/v11/dg4n_p3sv6gCJkwzT6Rnjw.ttf) format('truetype');
    }
    html {
    line-height : 1.15;
    }
    body {
    margin : 0;
    }
    article, aside, footer, header, nav, section {
    display : block;
    }
    h1 {
    font-size : 2em;
    margin : 0.67em 0;
    }
    figcaption, figure, main {
    display : block;
    }
    figure {
    margin : 1em 40px;
    }
    hr {
    box-sizing : content-box;
    height : 0;
    overflow : visible;
    }
    pre {
    font-family : monospace, monospace;
    font-size : 1em;
    }
    a {
    background-color : transparent;
    }
    abbr[title] {
    border-bottom : none;
    text-decoration : underline;
    text-decoration : underline dotted;
    }
    b, strong {
    font-weight : inherit;
    }
    b, strong {
    font-weight : bolder;
    }
    code, kbd, samp {
    font-family : monospace, monospace;
    font-size : 1em;
    }
    dfn {
    font-style : italic;
    }
    mark {
    background-color : #ff0;
    color : #000;
    }
    small {
    font-size : 80%;
    }
    sub, sup {
    font-size : 75%;
    line-height : 0;
    position : relative;
    vertical-align : baseline;
    }
    sub {
    bottom : -0.25em;
    }
    sup {
    top : -0.5em;
    }
    audio, video {
    display : inline-block;
    }
    audio:not([controls]) {
    display : none;
    height : 0;
    }
    img {
    border-style : none;
    }
    svg:not(:root) {
    overflow : hidden;
    }
    button, input, optgroup, select, textarea {
    font-family : sans-serif;
    font-size : 100%;
    line-height : 1.15;
    margin : 0;
    }
    button, input {
    overflow : visible;
    }
    button, select {
    text-transform : none;
    }
    button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
    border-style : none;
    padding : 0;
    }
    button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
    outline : 1px dotted ButtonText;
    }
    fieldset {
    padding : 0.35em 0.75em 0.625em;
    }
    legend {
    box-sizing : border-box;
    color : inherit;
    display : table;
    max-width : 100%;
    padding : 0;
    white-space : normal;
    }
    progress {
    display : inline-block;
    vertical-align : baseline;
    }
    textarea {
    overflow : auto;
    }
    [type="checkbox"], [type="radio"] {
    box-sizing : border-box;
    padding : 0;
    }
    [type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
    height : auto;
    }
    [type="search"] {
    outline-offset : -2px;
    }
    ::-webkit-file-upload-button {
    font : inherit;
    }
    details, menu {
    display : block;
    }
    summary {
    display : list-item;
    }
    canvas {
    display : inline-block;
    }
    template {
    display : none;
    }
    [hidden] {
    display : none;
    }
    * {
    box-sizing : border-box;
    }
    body {
    background : rgb(168, 255, 234);
    background : linear-gradient(307deg, rgb(168, 255, 234, 1) 0%, rgb(255, 255, 255) 50%, rgb(230, 230, 230) 100%);
    }
    .headerWrapper {
    background : rgb(131, 58, 180);
    background : linear-gradient(307deg, rgb(131, 58, 180, 1) 0%, rgb(255, 113, 91, 1) 50%, rgb(252, 176, 69, 1) 100%);
    }
    header {
    padding : 5px 0;
    display : flex;
    align-items : center;
    }
    header img {
    width : 80px;
    height : auto;
    }
    .headings {
    display : flex;
    flex-direction : column;
    }
    .headings h1 {
    font-size : 1.6rem;
    margin : 0 0 0 17px;
    color : #000000;
    font-family : 'Inconsolata', monospace;
    text-shadow : 1px 1px 2px rgb(0, 0, 0, 0.6);
    }
    .m {
    font-family : 'Inconsolata', monospace;
    letter-spacing : 0.1rem;
    color : #000000;
    margin-left : 20px;
    margin-top : 0;
    padding : 0;
    font-size : 1rem;
    }
    .navWrapper {
    background : rgb(34, 193, 195);
    background : linear-gradient(103deg, rgb(34, 193, 195, 1) 0%, rgb(253, 187, 45, 1) 100%);
    border : #4C5454 solid 2px;
    }
    nav button {
    margin : 0.2rem 1%;
    background-color : transparent;
    border : none;
    font-size : 1.6rem;
    color : #fff;
    }
    nav {
    font-family : sans-serif;
    }
    nav ul {
    list-style-type : none;
    padding : 0;
    margin : 0;
    }
    nav ul li a {
    display : block;
    padding : 0.8rem 2%;
    text-decoration : none;
    color : #000;
    border-top : 1px solid rgb(255, 255, 255, 0.8);
    }
    nav ul li.active a {
    background-color : rgb(0, 0, 0, 0.2);
    color : #fff;
    }
    nav ul li a:hover {
    transition : all 1000ms ease;
    background-color : rgb(0, 0, 0, 0.4);
    }
    nav ul.hide {
    display : none;
    }
    main {
    display : block;
    }
    div#message {
    background-color : yellow;
    box-shadow : 0 -23px 25px 0 rgb(0, 0, 0, 0.17) inset, 0 -36px 30px 0 rgb(0, 0, 0, 0.15) inset, 0 -79px 40px 0 rgb(0, 0, 0, 0.1) inset, 0 2px 1px rgb(0, 0, 0, 0.06), 0 4px 2px rgb(0, 0, 0, 0.09), 0 8px 4px rgb(0, 0, 0, 0.09), 0 16px 8px rgb(0, 0, 0, 0.09), 0 32px 16px rgb(0, 0, 0, 0.09);
    padding : 0.6rem 2%;
    border-radius : 10px;
    font-size : 1.4rem;
    font-family : 'Inconsolata', monospace;
    }
    div.showme {
    display : block;
    }
    div.hideme {
    display : none;
    }
    main figure {
    margin : 0 auto;
    display : block;
    padding : 0.2rem;
    }
    .hero > img {
    padding : 0;
    margin : 0;
    width : 100%;
    height : auto;
    box-shadow : 0 -23px 25px 0 rgb(0, 0, 0, 0.17) inset, 0 -36px 30px 0 rgb(0, 0, 0, 0.15) inset, 0 -79px 40px 0 rgb(0, 0, 0, 0.1) inset, 0 2px 1px rgb(0, 0, 0, 0.06), 0 4px 2px rgb(0, 0, 0, 0.09), 0 8px 4px rgb(0, 0, 0, 0.09), 0 16px 8px rgb(0, 0, 0, 0.09), 0 32px 16px rgb(0, 0, 0, 0.09);
    }
    section.summary {
    margin : 0.2rem;
    padding : 0.8rem 0 1rem 0.5rem;
    background : rgb(131, 58, 180);
    background : linear-gradient(307deg, rgb(131, 58, 180, 1) 0%, rgb(255, 113, 91, 1) 50%, rgb(252, 176, 69, 1) 100%);
    box-shadow : 0 15px 30px -10px rgb(38, 57, 77);
    }
    section.summary hr {
    padding : 0;
    margin : 0 0 0.6rem 0;
    }
    .summary h1 {
    font-size : 1.4rem;
    color : #000000;
    }
    .summary > p {
    font-size : 1.2rem;
    letter-spacing : 0.1rem;
    font-weight : 550;
    }
    .summary h1, .summary > p {
    font-family : 'Inconsolata', monospace;
    margin : 0;
    padding : 0.2rem 0;
    width : 100%;
    }
    main h1 {
    margin : 1.4rem 0 0 0;
    padding : 0 2%;
    font-size : 2rem;
    font-family : 'Inconsolata', monospace;
    color : #523f38;
    text-shadow : 1px 1px 2px rgb(0, 0, 0, 0.6);
    }
    main > div {
    display : block;
    background-color : whitesmoke;
    }
    main > div > p {
    color : #4C5454;
    padding : 0.6rem 2%;
    }
    .forecast-h2 {
    display : none;
    }
    section.forecast {
    display : none;
    }
    section.article {
    padding : 0 2%;
    display : block;
    }
    section.article h2 {
    margin : 1rem 0 0 0;
    padding : 0;
    color : #523f38;
    font-size : 2rem;
    font-family : 'Inconsolata', monospace;
    text-shadow : 1px 1px 2px rgb(0, 0, 0, 0.6);
    }
    section.article > p {
    font-family : 'Inconsolata', monospace;
    font-size : 1.4rem;
    color : #4c5454;
    }
    section.article figure {
    margin : 0;
    padding : 0 0 1.2rem 0;
    width : 100%;
    box-shadow : 0 3px 8px rgb(0, 0, 0, 0.24);
    }
    section.article img {
    width : 100%;
    }
    section.article figcaption {
    text-align : center;
    font-size : 0.8rem;
    }
    .gallery {
    display : grid;
    grid-template-columns : 1fr;
    gap : 1.2rem;
    margin : 0 0 1.2rem 0;
    padding-top : 0;
    }
    div.gallery figure {
    box-shadow : 0 8px 24px rgb(17, 17, 26, 0.1), 0 16px 56px rgb(17, 17, 26, 0.1), 0 24px 80px rgb(17, 17, 26, 0.1);
    padding : 0 0 0.3rem 0;
    background : rgb(244, 130, 7);
    background : linear-gradient(90deg, rgb(244, 130, 7, 1) 0%, rgb(255, 255, 255, 1) 49%, rgb(136, 215, 82, 1) 100%);
    font-size : 0.8rem;
    text-align : center;
    font-weight : bolder;
    letter-spacing : 1.2px;
    }
    div.gallery figure img {
    width : 100%;
    }
    form {
    background-color : white;
    box-shadow : 0 -23px 25px 0 rgb(0, 0, 0, 0.17) inset, 0 -36px 30px 0 rgb(0, 0, 0, 0.15) inset, 0 -79px 40px 0 rgb(0, 0, 0, 0.1) inset, 0 2px 1px rgb(0, 0, 0, 0.06), 0 4px 2px rgb(0, 0, 0, 0.09), 0 8px 4px rgb(0, 0, 0, 0.09), 0 16px 8px rgb(0, 0, 0, 0.09), 0 32px 16px rgb(0, 0, 0, 0.09);
    padding : 1rem;
    border-radius : 15px;
    }
    form fieldset {
    margin : 2rem 0;
    border : #e934f0 solid 2px;
    background-color : transparent;
    border-radius : 10px;
    padding : 0.5rem 2%;
    }
    form legend {
    color : rgb(87, 82, 82);
    margin : 0 1rem;
    padding : 0 0.5rem;
    }
    form label.top, form div {
    display : block;
    padding-top : 1rem;
    color : rgb(54, 50, 50);
    font-size : 0.8rem;
    }
    form label.top input, form label.top select, form textarea {
    display : block;
    font-size : 1rem;
    border : #999 solid 1px;
    border-radius : 4px;
    padding : 0.75rem;
    color : #555;
    width : 100%;
    max-width : 20rem;
    background-color : rgb(207, 253, 181);
    }
    form label.sbs {
    display : block;
    padding : 0.75rem 0;
    color : #555;
    }
    form label.rating {
    display : block;
    padding-top : 1rem;
    color : #555;
    font-size : 0.8rem;
    }
    form label.rating span {
    justify-content : center;
    }
    input#rating {
        width : 100%;
        max-width : 19rem;
    }
    form input.submitBtn {
    border : none;
    background : rgb(2, 238, 40);
    color : white;
    border-radius : 1rem;
    padding : 0.75rem 1.5rem;
    margin : 0 0 2rem 2%;
    width : 96%;
    max-width : 20rem;
    }
    input.submitBtn:hover {
        background-color: black;

    }
    form label.top input:required {
    border-left : 6px solid red;
    }
    form label.top input:required:valid {
    border-left : 6px solid green;
    }
    .contact-section {
    margin : 0 2%;
    padding : 0 0 2% 0;
    }
    .contact-section h2 {
    margin : 1rem 0 0 0;
    padding : 0;
    color : #523f38;
    font-size : 2rem;
    font-family : 'Inconsolata', monospace;
    text-shadow : 1px 1px 2px rgb(0, 0, 0, 0.6);
    }
    .contact-section hr {
    margin : 0 0 0.6rem 0;
    padding : 0;
    }
    .contact-section h3 {
    margin : 0;
    padding : 0;
    color : #523f38;
    font-family : 'Inconsolata', monospace;
    text-shadow : 1px 1px 2px rgb(0, 0, 0, 0.6);
    }
    .contact-section h3, .contact-section p {
    margin : 0;
    line-height : 2rem;
    }
    div.contact {
    display : grid;
    grid-template-columns : 1fr 1fr;
    }
    div.contact section:nth-child(3) {
    grid-column : span 2;
    border : #000 solid 1px;
    padding : 0;
    }
    div.contact section iframe {
    width : 100%;
    }
    iframe {
    display : block;
    border : 0;
    }
    /*three town*/
    .highlights {
        margin: 1rem 1%;
        padding: 0.6rem 2% .2rem 2%;
        background-color: yellow;
        box-shadow : 0 -23px 25px 0 rgb(0, 0, 0, 0.17) inset, 0 -36px 30px 0 rgb(0, 0, 0, 0.15) inset, 0 -79px 40px 0 rgb(0, 0, 0, 0.1) inset, 0 2px 1px rgb(0, 0, 0, 0.06), 0 4px 2px rgb(0, 0, 0, 0.09), 0 8px 4px rgb(0, 0, 0, 0.09), 0 16px 8px rgb(0, 0, 0, 0.09), 0 32px 16px rgb(0, 0, 0, 0.09);
        border-radius: 2rem;
    }
    .highlights h2 {
        margin : 0;
        padding : 0;
        color : #303531;
        font-size : 2.4rem;
        font-family : 'Ephesis';
        text-shadow : 1px 1px 2px rgb(0, 0, 0, 0.6);
        }
    .highlights p {
        margin: 2%;
        font-family : 'Ephesis';
        font-size: 1.2rem;
        font-weight: bold;

    }
    .section-town-h2 {
        margin : 1rem 2%;
        padding : 0;
        color : #523f38;
        font-size : 2rem;
        font-family : 'Inconsolata', monospace;
        text-shadow : 1px 1px 2px rgb(0, 0, 0, 0.6);
        }
    .cards {
        padding: 0 2%;
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
    }
    
    .section-town {
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
        background-color: rgb(175, 211, 190);
    }
    
    .section-div {
        margin: .6rem 0 .8rem 0;
    }
    
    .section-h2 {
        margin: 0;
        padding: 0;
        font-size: 2rem;
        color: rgb(49, 49, 49);
        text-shadow : 1px 1px 2px rgb(0, 0, 0, 0.6);
    }
    
    .section-first-line {
        margin: 0 0 .8rem 0;
        font-size: .8rem;
    }
    
    .section-other-lines {
        margin: .4rem 0 .1rem 0;
        padding: 0;
        font-size: 1.16rem;
        font-family : 'Ephesis';
        font-size: 2;
        font-weight: bolder;
    }
    .section-img {
        display: block;
        margin: 0;
        padding: 0;
        width: 100%;
    }
/*three town ends here*/  
.wireframe {
    margin: .5rem 2%;
    padding: .1rem 2%;
    background-color: yellow;
    text-align: center;
}
/*wireframe*/  
    .footerWrapper {
    background : rgb(131, 58, 180);
    background : linear-gradient(307deg, rgb(131, 58, 180, 1) 0%, rgb(255, 113, 91, 1) 50%, rgb(252, 176, 69, 1) 100%);
    padding : 1rem;
    }
    footer {
    padding : 2%;
    text-align : center;
    color : #000000;
    font-size : 1.2rem;
    font-family : 'Inconsolata', monospace;
    font-weight : bold;
    letter-spacing : 0.2rem;
    }
    .clearfix:after {
    content : "";
    display : table;
    clear : both;
    }