<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;1,700&family=Ephesis&family=Inconsolata:wght@400;900&family=Italianno&display=swap" rel="stylesheet">

font-family: 'EB Garamond', serif;
font-family: 'Ephesis', cursive;
font-family: 'Inconsolata', monospace;
font-family: 'Italianno', cursive;