 body {
     height: 100%;
 }
.headerWrapper{
    padding: 5px 0;
    display: flex;
}


img {width: 100px;height: auto;}

nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem; /* apple recomment 44px = 1.6rem */
    color: #fff;
}
nav {
    background-color: #aa0000;
    font-family: sans-serif;
}
nav ul {
    list-style-type: none;
    padding:  0;
    margin: 0;
}

nav ul li a {
    display: block; /*make the button clikable, make the anger<a> wider*/
    padding: .8rem 2%; /*make the button clikable bigger so they can touch by the finger */
    text-decoration: none;   /*remove the underline*/
    color: #000;   /*remove the blue color*/
    border-top: 1px solid rgba(255, 255, 255, 0.8);   /*add border to the top with 3% of color black #000*/

}

nav ul li.active a{
    background-color: rgba(0, 0, 0, 0.2); color: #fff;
}/*use way finding by controling the active class*/

nav ul li a:hover {
    background-color: rgba(0, 0, 0, 0.4); 
}

/*nav ul.hide {display: none;}
nav ul li.home {display: none;}

/* main */

main {
   
    background-color: chocolate;
    display: block;
    margin: 10px 0;
    display: none;
}
