* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}



body {
    font-family: 'Merriweather', serif;
    font-family: 'Quicksand', sans-serif;
}