@media only screen and (min-width: 1028px) {

header, footer, nav, main {max-width: 75rem; margin: auto;} /*limit the page width*/
    nav ul {
        padding-left: 2%;
    }

    nav ul li {
        flex-basis: auto;
    }

    nav a {
        padding: .5rem 1rem;
    }

    main figure {
        width: 31%;
    }
}